$active-user__spacer-cover-height: 15px;
$user-data-image-width: 60px;
$user-data-image-height: 60px;

.highlighted-text {
  background-color: transparent; // remove default background for mark tag
  color: #00d8ff;
  font-weight: bold;
  padding: 0; // remove default bootstrap's padding for mark tag
}

// .row {
//   margin-bottom: 15px;
// }

.toolbar {
  padding-top: 15px;
  // margin-bottom: 0; // to reset bootstrap's row bottom margin - no such margin ???
}

.user-data-active {
  outline: 1px solid white;
}

.user-data-avatar-td {
  width: $user-data-image-width + 6px * 2; // 6px - default bootstrap's "td" padding
}

.user-data-tr {
  cursor: pointer;
  font-size: 1em;

  @media only screen and (min-width: 480px) {
    font-size: 1.3em;
  }
}

.user-data-image {
  width: $user-data-image-width;
  height: $user-data-image-height;
}

@media only screen and (min-width: 992px) {
  .user-list-table {
    margin-bottom: 0; // to be used with same entry for .panel
  }

  .panel {
    margin-bottom: 0; // to be used with same entry for .user-list-table
  }

  .toolbar {
    padding-bottom: 15px;
  }

  .user-data-avatar-td {
    // 6px - default bootstrap's "td" padding, 28px - custom spacing
    width: $user-data-image-width + 6px * 2 + 28px;
  }
}

.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.rc-img {
  animation: rc-img-spin infinite 20s linear;
  max-height: 50px;
  max-width: 50px;
}

@keyframes rc-img-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
}

.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}

input::-ms-clear {
  display: none;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
